<html>
	<head>
		<title>Cucumber Test Analyzer - Extensive Tests Module</title>
		<link rel="stylesheet" type="text/css" href="../public/style/global.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<h1>Extensive Tests Module - Report</h1>
	<br>
	These are the tests that have more than 
	<%= @maximum_number_of_lines_user_input %> Steps per Scenario:
	<br><br>
	<% @scenarios_info.each do |scenario| %>
		<% if scenario[:quantity_of_steps] > @maximum_number_of_lines_user_input.to_i %>
			<ul>
			<div class="result item">
			<li class="fui-file-24">Feature file: 
				<span class="number">
					<%= scenario[:feature_file] %> </li>
				</span>
			</div>
			<br>
			<div class="result item">
			<li class="fui-location-24"><%= scenario[:scenario_name] %> 
				<span class="number">
					(line <%= scenario[:scenario_line] %>) 
				</span>	
			</li>
			</div>
			<br>
			<div class="result item warning">
			<li class="fui-steps-24">Quantity of Steps: 
				<span class="number">
					<%= scenario[:quantity_of_steps] %> 
				</span>	
			</li>
			</div>
			</ul>
			<br>
		<% end %>
	<% end %>
	<!-- Fix me here!
	<div style="background-color:green;border:1px solid black;padding:10px;">
	<li>You don't have any Scenario with more than <%= @maximum_number_of_lines_user_input %> steps! ;)</li>
	-->
	</div>
</body>
</html>


