<html>
	<head>
		<title>Cucumber Test Analyzer - Extensive Tests Module</title>
		<link rel="stylesheet" type="text/css" href="../public/style/global.css">
	</head>
	<body>
	<h1>Extensive Tests Module - Report</h1>
	<br>
	<% @no_test_with_more_steps_than_specified = true %>
	<% @scenarios_info.each do |scenario| %>
		<% if scenario[:quantity_of_steps] > @maximum_number_of_lines_user_input.to_i %>
		<% @no_test_with_more_steps_than_specified = false %>
		<% end %>
	<% end %>	
	<% if not @no_test_with_more_steps_than_specified %>
		These are the tests that have more than 
		<span class="number">
			<%= @maximum_number_of_lines_user_input %> 
		</span>
			steps per scenario:
	<br>
	<% end %>
	<% @no_test_with_more_steps_than_specified = true %>
	<% @scenarios_info.each do |scenario| %>
		<% if scenario[:quantity_of_steps] > @maximum_number_of_lines_user_input.to_i %>
		<% @no_test_with_more_steps_than_specified = false %>
			<ul>
				<div class="result item">
				<li class="fui-file-24">Feature file: 
					<span class="number">
						<%= scenario[:feature_file] %> </li>
					</span>
				</div>
				<br>
				<div class="result item">
				<li class="fui-location-24"><%= scenario[:scenario_name] %> 
					<span class="number">
						(line <%= scenario[:scenario_line] %>) 
					</span>	
				</li>
				</div>
				<br>
				<div class="result item warning">
				<li class="fui-steps-24">Quantity of Steps: 
					<span class="number">
						<%= scenario[:quantity_of_steps] %> 
					</span>	
				</li>
				</div>
			</ul>
		<% end %>
	<% end %>
	<% if @no_test_with_more_steps_than_specified %>
		<div class="result good">
		<li class="no-bullet fui-checkmark-24">You don't have any Scenario with more than <%= @maximum_number_of_lines_user_input %> steps! ;)</li>
	<% end%>	
	
	</div>
</body>
</html>


