<html>
	<head>
		<title>Cucumber Test Analyzer - Time Frame Tests Module</title>
		<link rel="stylesheet" type="text/css" href="../public/style/global.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1>Time Frame Tests Module - Report</h1>
		<br>
		These are the tests that fit between the time frame defined by user: 
		<span class="number">
			<%= @time_frame_user_input[0].to_s + ";" + @time_frame_user_input[1].to_s + @time_frame_user_input[2].to_s %>
		</span>
		<br><br>
		<% @time_frame_scenarios.each do |scenario| %>
		<ul>
			<div class="result item">
				<li class="fui-file-24">Feature file: <%= scenario[:feature_file] %> </li>
			</div>
			<br>
			<div class="result item">
				<li class="fui-location-24"><%= scenario[:scenario_name] %> (line <%= scenario[:scenario_line] %>) </li>
			</div>
			<br>
			<div class="result item warning">
				<li class="fui-time-24">Execution time: <%= scenario[:time] %> </li>
			</div>
		</ul>
		<br>
		<% end %>
	</body>
</html>

