<html>
	<head>
		<title>Cucumber Test Analyzer - Time Frame Tests Module</title>
		<link rel="stylesheet" type="text/css" href="../public/style/global.css">
	</head>
	<body>
		<h1>Time Frame Tests Module - Report</h1>
		<br>
		These are the tests that fit between the time frame defined by user: 
		<span class="number">
			<% @time_unit = @time_frame_user_input[2].to_s %>
			<%= @time_frame_user_input[0].to_s + @time_unit.to_s + " - " + @time_frame_user_input[1].to_s + @time_unit %>
		</span>
		<br>
		<% @time_frame_scenarios.each do |scenario| %>
		<ul>
			<div class="result item">
				<li class="fui-file-24">Feature file: 
					<span class="number">
						<%= scenario[:feature_file] %> 
					</span>
				</li>
			</div>
			<br>
			<div class="result item">
				<li class="fui-steps-24"><%= scenario[:scenario_name] %> 
					<span class="number">
						(line <%= scenario[:scenario_line] %>) 
					</span>
				</li>
			</div>
			<br>
			<div class="result item warning">
				<li class="fui-time-24"> Execution time: 
					<span class="number">
						<%= scenario[:time] %> 
					</span>
				</li>	
			</div>
		</ul>
		<% end %>
	</body>
</html>